{
  "app": {
    "title": "Folder ICO",
    "icon": "/none.ico",
    "settings": {
      "default": {
        "size": [540, 180],
        "lang": "eng"
      },
      "custom": {
        "size": [540, 180],
        "lang": "eng"
      }
    }
  },
  "path": {
    "default": {
      "resource": "resources",
      "folder-presets": "resources/folders",
      "logs": "logs",
      "lang": "resources/lang.json"
    },
    "custom": {
      "resource": "resources",
      "folder-presets": "resources/folders",
      "logs": "logs",
      "lang": "resources/lang.json"
    }
  }
}