{
  "app": {
    "name": "Folder ICO",
    "icon": "/none.ico",
    "settings": {
      "default": {
        "size": [540, 180]
      },
      "custom": {
        "size": [540, 180]
      }
    }
  }
}